.login-form-container.active {
  top: 0;
}
#light .login-form-container form .box {
  color: #333;
}
#dark .login-form-container form .box {
  color: #fff;
}
.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: var(--orange);
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}