/* HEADER */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--darkColor);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

nav .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--white);
  text-transform: uppercase;
}

nav .logo span {
  color: var(--orange);
}

nav .navbar a {
  color: var(--white);
  font-size: 2rem;
  margin: 0 0.8rem;
}

nav .navbar a:hover {
  color: var(--orange);
}

nav .icons .icon {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  margin-right: 2rem;
}

nav .icons .icon:hover {
  color: var(--orange);
}
nav .icons .icon-none{
  display: none;
}

/* MENU BAR */
#menu-bar {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  display: none;
  font-size: 2.5rem;
  padding: 0.75rem 1rem;
}

/* SEARCH BAR */
nav .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 0.1rem solid rgba(255, 255, 255, .2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

nav .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

nav .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}
nav .search-bar-container label .icon{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

nav .search-bar-container label .icon:hover {
  color: var(--orange);
}

@media (max-width: 850px) {
  #menu-bar{
    display: block;
  }
  nav .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  nav .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  nav .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
}